nodeflow.txt
[{"id":"a03d967d.ecdcd8","type":"inject","z":"12abfec2.cd8191","name":"Create Device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215,"y":791.7142779827118,"wires":[["c5e737fd.7e6798"]]},{"id":"9d04fcaa.e71b7","type":"http request","z":"12abfec2.cd8191","name":"HTTP DELETE Operation","method":"DELETE","ret":"txt","url":"","tls":"","x":1069.000020980835,"y":1390.2142970561981,"wires":[["b05b4524.bd1668","ac62f45d.71a5a8"]]},{"id":"677a8d2a.eef0c4","type":"inject","z":"12abfec2.cd8191","name":"Delete Device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210.00002098083496,"y":1311.2142970561981,"wires":[["d8d6cb4.2128038"]]},{"id":"c5e737fd.7e6798","type":"function","z":"12abfec2.cd8191","name":"Devices Message","func":"msg.payload = {\"accessKey\":\"BDAWYweweryddfdj3bnpaM90hp4xahXgrUuau09EAEcBelBlD0bc0075\",\"domain\":\"decd06cc-2a32-4e5e-80d0-7a7c65b90e6e\",\"service\":\"connector\"};\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":410.1428527832031,"y":791.7142798900604,"wires":[["7d9f9548.e8edac"]]},{"id":"4b181dea.65c644","type":"function","z":"12abfec2.cd8191","name":"Create Deletion Message","func":"id = msg.payload.id;\nmsg.payload = {\"accessKey\":\"BDAWYweweryddfdj3bnpaM90hp4xahXgrUuau09EAEcBelBlD0bc0075\",\"domain\":\"decd06cc-2a32-4e5e-80d0-7a7c65b90e6e\",\"service\":\"connector\"};\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(id);\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":806,"y":1387.21435546875,"wires":[["9d04fcaa.e71b7"]]},{"id":"e0cbe8df.3f2bd8","type":"inject","z":"12abfec2.cd8191","name":"List Devices","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205.82142639160156,"y":1231.1071689128876,"wires":[["25888b66.f43c94"]]},{"id":"1d32347f.9464dc","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":875.3571605682373,"y":1232.464272260666,"wires":[["77e42f58.8989b"]]},{"id":"2ed9aa3b.f60ab6","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":854.4285564422607,"y":1313.642850637436,"wires":[["4e807095.02c2b"]]},{"id":"4e807095.02c2b","type":"splitter","z":"12abfec2.cd8191","name":"Split","property":"payload","x":1071.7142658233643,"y":1313.6428735256195,"wires":[["4b181dea.65c644","9069defa.fdf4f"]]},{"id":"7836f4cd.5769bc","type":"debug","z":"12abfec2.cd8191","name":"","active":true,"console":"false","complete":"payload.id","x":1227.750005722046,"y":1232.714287519455,"wires":[]},{"id":"77e42f58.8989b","type":"splitter","z":"12abfec2.cd8191","name":"Split","property":"payload","x":1067.500005722046,"y":1232.4642856121063,"wires":[["7836f4cd.5769bc"]]},{"id":"b1bccc94.bf978","type":"comment","z":"12abfec2.cd8191","name":"Basic mbed Client Service Flows","info":"","x":249.7143211364746,"y":743.571405172348,"wires":[]},{"id":"42d819f.746f4e8","type":"comment","z":"12abfec2.cd8191","name":"EdgeX exporter telemetry","info":"","x":236.69071578979492,"y":100,"wires":[]},{"id":"74778139.5e7e1","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":942.0000152587891,"y":791.2142798900604,"wires":[["beb1b1d.a59345","6c405019.4881"]]},{"id":"5c4b82d3.7ac9ac","type":"function","z":"12abfec2.cd8191","name":"Create Resources Message","func":"payload = JSON.parse(msg.payload);\nmcsid = payload.mcsid;\nresources =  payload.resources;\n\nmsg = {};\nmsg.payload = resources;\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(mcsid);\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(\"resources\");\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":425.7500305175781,"y":909.9642808437347,"wires":[["2958246d.f61ecc","2ce614ca.1b846c"]]},{"id":"2958246d.f61ecc","type":"http request","z":"12abfec2.cd8191","name":"HTTP PUT Operation","method":"PUT","ret":"txt","url":"","tls":"","x":698.2500152587891,"y":909.9642817974091,"wires":[["a82818c7.e4bb48","7e773457.3b86ec"]]},{"id":"6bc9e4c2.53d87c","type":"function","z":"12abfec2.cd8191","name":"Create Registration Message","func":"id = msg.payload.id;\nmsg.payload = {\"accessKey\":\"BDAWYweweryddfdj3bnpaM90hp4xahXgrUuau09EAEcBelBlD0bc0075\",\"domain\":\"decd06cc-2a32-4e5e-80d0-7a7c65b90e6e\",\"service\":\"connector\"};\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(id);\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(\"register\");\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":421.0000305175781,"y":1057.46435546875,"wires":[["5bfd13c0.bae76c","b7a9157f.c2b948"]]},{"id":"5bfd13c0.bae76c","type":"http request","z":"12abfec2.cd8191","name":"HTTP POST Operation","method":"POST","ret":"txt","url":"","tls":"","x":685.7500152587891,"y":1057.4643142223358,"wires":[["60551d1d.80d2c4","26c21590.ce6c3a"]]},{"id":"f04ca605.a37848","type":"debug","z":"12abfec2.cd8191","name":"New Device Added","active":true,"console":"false","complete":"true","x":1827,"y":1082.2142333984375,"wires":[]},{"id":"f5d9c4c6.290198","type":"debug","z":"12abfec2.cd8191","name":"Delete Device","active":true,"console":"false","complete":"payload.id","x":1452.0000228881836,"y":1392.6032025814056,"wires":[]},{"id":"71e9b8dc.8408a8","type":"mqtt in","z":"12abfec2.cd8191","name":"","topic":"mbed/edgex","qos":"0","broker":"7862d32f.50021c","x":198.44075393676758,"y":142.00003242492676,"wires":[["f30e2a.a64471d8"]]},{"id":"8bff7e19.f5bfb","type":"function","z":"12abfec2.cd8191","name":"Create Device Metadata Query Message","func":"device = msg.topic;\nmsg.url = \"http://10.1.0.120:48081/api/v1/device/name\";\nmsg.url = msg.url.concat(\"/\");\nmsg.url = msg.url.concat(device);\nmsg.headers = {'content-type':'application/json'};\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":801.3098106384277,"y":518.6232669353485,"wires":[["fdbddbdb.673658"]]},{"id":"f30e2a.a64471d8","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410.1789093017578,"y":141.190523147583,"wires":[["5592cd7.1e8de34","f609df98.5fb15"]]},{"id":"5592cd7.1e8de34","type":"function","z":"12abfec2.cd8191","name":"Query Device Name","func":"device = msg.payload.device;\nmsg.payload = null;\nmsg.topic = device;\nreturn msg;","outputs":1,"noerr":0,"x":679.8016929626465,"y":142.12697100639343,"wires":[["fd39602f.577d"]]},{"id":"fd39602f.577d","type":"leveldb in","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","name":"DB Query","x":901.3413772583008,"y":142.2381513118744,"wires":[["275537c5.0353e8"]]},{"id":"3a644b90.a57d24","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"store","name":"DB Write","x":1375.210350036621,"y":789.2778403759003,"wires":[]},{"id":"275537c5.0353e8","type":"switch","z":"12abfec2.cd8191","name":"IF result is NULL","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":394.3492202758789,"y":590.0160963535309,"wires":[[],["8bff7e19.f5bfb","c5e737fd.7e6798","183037f9.9df3b8"]]},{"id":"fdbddbdb.673658","type":"http request","z":"12abfec2.cd8191","name":"HTTP GET Operation","method":"GET","ret":"txt","url":"","tls":"","x":1088.8137435913086,"y":518.2144043445587,"wires":[["82c331a0.33695"]]},{"id":"d74fae09.1014f","type":"debug","z":"12abfec2.cd8191","name":"Adding a new Device","active":false,"console":"false","complete":"payload","x":1765.4804382324219,"y":640.139053106308,"wires":[]},{"id":"7d9f9548.e8edac","type":"http request","z":"12abfec2.cd8191","name":"HTTP POST Operation","method":"POST","ret":"txt","url":"","tls":"","x":689.857177734375,"y":790.8571383953094,"wires":[["74778139.5e7e1"]]},{"id":"6f39b268.d6bdbc","type":"http request","z":"12abfec2.cd8191","name":"HTTP GET Operation","method":"GET","ret":"txt","url":"","tls":"","x":639.6785793304443,"y":1230.8571507930756,"wires":[["1d32347f.9464dc"]]},{"id":"25888b66.f43c94","type":"function","z":"12abfec2.cd8191","name":"Devices  Message","func":"msg.payload = {\"accessKey\":\"BDAWYweweryddfdj3bnpaM90hp4xahXgrUuau09EAEcBelBlD0bc0075\",\"domain\":\"decd06cc-2a32-4e5e-80d0-7a7c65b90e6e\",\"service\":\"connector\"};\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":406.8214168548584,"y":1230.8571298122406,"wires":[["6f39b268.d6bdbc"]]},{"id":"d8d6cb4.2128038","type":"function","z":"12abfec2.cd8191","name":"Devices  Message","func":"msg.payload = {\"accessKey\":\"BDAWYweweryddfdj3bnpaM90hp4xahXgrUuau09EAEcBelBlD0bc0075\",\"domain\":\"decd06cc-2a32-4e5e-80d0-7a7c65b90e6e\",\"service\":\"connector\"};\nmsg.url = \"http://172.17.0.3:3030/devices\";\nmsg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":395.3928737640381,"y":1310.8571631908417,"wires":[["c07407bd.fbab38"]]},{"id":"c07407bd.fbab38","type":"http request","z":"12abfec2.cd8191","name":"HTTP GET Operation","method":"GET","ret":"txt","url":"","tls":"","x":611.107141494751,"y":1310.85715842247,"wires":[["2ed9aa3b.f60ab6"]]},{"id":"82c331a0.33695","type":"function","z":"12abfec2.cd8191","name":"Create EdgeX Device Registration Record","func":"payload = JSON.parse(msg.payload);\ntopic = msg.payload.topic;\nmsg.payload = {\"name\": payload.name, \"id\": payload.id, \"payload\": payload}\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":1185.7978248596191,"y":582.5002198219299,"wires":[["52d0c84c.8bfbd8","85ea5f51.ca473"]]},{"id":"beb1b1d.a59345","type":"function","z":"12abfec2.cd8191","name":"Save ID","func":"id = msg.payload.id;\nmsg.topic = \"id\";\nmsg.payload = id;\nreturn msg;","outputs":1,"noerr":0,"x":1212.0000228881836,"y":789.9642827510834,"wires":[["3a644b90.a57d24"]]},{"id":"23152834.579338","type":"join","z":"12abfec2.cd8191","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":1298.2500190734863,"y":943.7142817974091,"wires":[["6bc9e4c2.53d87c"]]},{"id":"71f31cae.65f7c4","type":"leveldb in","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","name":"DB Query","x":1124.500015258789,"y":888.7142808437347,"wires":[["51fbf242.6e24fc"]]},{"id":"a82818c7.e4bb48","type":"function","z":"12abfec2.cd8191","name":"Get ID","func":"msg.topic = \"id\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":939.5000114440918,"y":888.7142779827118,"wires":[["71f31cae.65f7c4"]]},{"id":"51fbf242.6e24fc","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = { \"id\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1373.2500190734863,"y":887.4642779827118,"wires":[["23152834.579338"]]},{"id":"7e773457.3b86ec","type":"function","z":"12abfec2.cd8191","name":"Response Trigger","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":975.7500152587891,"y":943.7142817974091,"wires":[["23152834.579338"]]},{"id":"552f35a8.e3755c","type":"join","z":"12abfec2.cd8191","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":1294.5000190734863,"y":1088.7142837047577,"wires":[["c9021dee.548ad","1701e2fc.a7c56d"]]},{"id":"c5ef2bdc.780218","type":"leveldb in","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","name":"DB Query","x":1123.250015258789,"y":1028.7142827510834,"wires":[["2cddfae8.c21446"]]},{"id":"60551d1d.80d2c4","type":"function","z":"12abfec2.cd8191","name":"Get ID","func":"msg.topic = \"id\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":930.7499961853027,"y":1029.9642751216888,"wires":[["c5ef2bdc.780218"]]},{"id":"2cddfae8.c21446","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"msg.payload = { \"id\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1364.5000038146973,"y":1028.7142751216888,"wires":[["552f35a8.e3755c"]]},{"id":"26c21590.ce6c3a","type":"function","z":"12abfec2.cd8191","name":"Response Trigger","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":965.7500152587891,"y":1088.7142837047577,"wires":[["552f35a8.e3755c"]]},{"id":"ec0fa3e8.7a0ad","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"delete","name":"DB Delete","x":1498.2500228881836,"y":1144.964284658432,"wires":[]},{"id":"c9021dee.548ad","type":"function","z":"12abfec2.cd8191","name":"Remove ID","func":"msg.topic = \"id\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1315.7500190734863,"y":1144.964284658432,"wires":[["ec0fa3e8.7a0ad"]]},{"id":"2e2913a3.28909c","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"delete","name":"DB Delete","x":1437.000020980835,"y":1331.2142856121063,"wires":[]},{"id":"b05b4524.bd1668","type":"function","z":"12abfec2.cd8191","name":"Remove ID","func":"msg.topic = \"id\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1264.500005722046,"y":1331.2142779827118,"wires":[["2e2913a3.28909c"]]},{"id":"ac62f45d.71a5a8","type":"splitter","z":"12abfec2.cd8191","name":"Split","property":"payload_unsplit","x":1284.5000171661377,"y":1391.2142870426178,"wires":[["f5d9c4c6.290198"]]},{"id":"52d0c84c.8bfbd8","type":"function","z":"12abfec2.cd8191","name":"Map to mCS Device Registration Record","func":"// Map EdgeX resource to LWM2M resource\nfunction edgexToLWM2M(resource_uri) {\n    if (resource_uri == \"AnalogValue_20\") {\n        return \"/666/0/0020\";\n    }\n    if (resource_uri == \"AnalogValue_21\") {\n        return \"/666/0/0021\";\n    }\n    if (resource_uri == \"AnalogValue_22\") {\n        return \"/666/0/0022\";\n    }\n    if (resource_uri == \"AnalogValue_40\") {\n        return \"/666/0/0040\";\n    }\n    if (resource_uri == \"HoldingRegister_2331\") {\n        return \"/667/0/2331\";\n    }\n    if (resource_uri == \"HoldingRegister_8455\") {\n        return \"/667/0/8455\";\n    }\n    if (resource_uri == \"HoldingRegister_8454\") {\n        return \"/667/0/8454\";\n    }\n    if (resource_uri == \"AnalogOutput_3000289\") {\n        return \"/3000/0/0289\";\n    }\n    if (resource_uri == \"AnalogInput_3000290\") {\n        return \"/3000/0/0290\";\n    }\n    if (resource_uri == \"collectionFrequency\") {\n        return \"/668/0/1\";\n    } \n    if (resource_uri == \"enableRandomization\") {\n        return \"/668/0/2\";\n    } \n    return \"/666/0/666\";\n}\n\n// Update the resource object to be compatible with mCS\n// {\"path\":\"/3201/0/5853\",\"operation\":[\"GET\",\"PUT\"],\"valueType\":\"dynamic\",\"value\":\"500:500\",\"observable\":false}\nfunction convertEdgeXToMCSDevResources(dev_resources) {\n    for(var i = 0; i < dev_resources.length; i++) {\n        var resource = dev_resources[i];\n        resource.path = edgexToLWM2M(resource.name);\n        resource.operation = [\"GET\",\"PUT\",\"POST\"];\n        resource.valueType = \"dynamic\";\n        resource.value = \"0\";\n        resource.observable = true;\n    }\n    return dev_resources;\n}\n\n// main\npayload = {\"edgexid\":msg.payload.id,\"name\":msg.payload.name,\"resources\":convertEdgeXToMCSDevResources(msg.payload.payload.profile.deviceResources)};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1183.4763374328613,"y":639.464396238327,"wires":[["d74fae09.1014f","6c405019.4881"]]},{"id":"db958cd.23b177","type":"comment","z":"12abfec2.cd8191","name":"Existing Device Resource Telemetry","info":"","x":778.0598258972168,"y":247.2501199245453,"wires":[]},{"id":"f520a984.ce44b8","type":"comment","z":"12abfec2.cd8191","name":"New Device Discovered","info":"","x":745.5477905273438,"y":440.6071527004242,"wires":[]},{"id":"4929abdf.664d74","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"store","name":"DB Write","x":1726.3335342407227,"y":702.8571226596832,"wires":[]},{"id":"a5a4f0a2.9f3fa","type":"function","z":"12abfec2.cd8191","name":"Save EdgeX Name (mCS)","func":"name = msg.payload.name;\nmcsid = msg.payload.id;\nedgexid = msg.payload.edgexid;\nresources = msg.payload.resources;\n\n// create the message\nmsg = {};\nmsg.topic = mcsid;\nmsg.payload = JSON.stringify({\"name\":name,\"edgexid\":edgexid,\"resources\":resources,\"mcsid\":mcsid});\nreturn msg;","outputs":1,"noerr":0,"x":1488.6589050292969,"y":684.9721124172211,"wires":[["4929abdf.664d74","5c4b82d3.7ac9ac","e879277b.7e3a98"]]},{"id":"6c405019.4881","type":"join","z":"12abfec2.cd8191","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":1293.4763793945312,"y":704.2856938838959,"wires":[["a5a4f0a2.9f3fa","eee040ca.a916a","b5eba75b.d67d58"]]},{"id":"8ec6eb92.a05d18","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"store","name":"DB Write","x":1053.3335227966309,"y":481.285706281662,"wires":[]},{"id":"183037f9.9df3b8","type":"function","z":"12abfec2.cd8191","name":"Save EdgeX Name (initial lock)","func":"topic = msg.topic;\nmsg.topic = topic;\nmsg.payload = {\"empty\":true};\nreturn msg;","outputs":1,"noerr":0,"x":775.6589012145996,"y":481.97214245796204,"wires":[["8ec6eb92.a05d18"]]},{"id":"eee040ca.a916a","type":"function","z":"12abfec2.cd8191","name":"Save EdgeX Name (EdgeX)","func":"name = msg.payload.name;\nmcsid = msg.payload.id;\nedgexid = msg.payload.edgexid;\nresources = msg.payload.resources;\n\n// create the message\nmsg = {};\nmsg.topic = name;\nmsg.payload = JSON.stringify({\"name\":name,\"edgexid\":edgexid,\"resources\":resources,\"mcsid\":mcsid});\nreturn msg;","outputs":1,"noerr":0,"x":1496.1907119750977,"y":721.2857186794281,"wires":[["4929abdf.664d74","e879277b.7e3a98"]]},{"id":"ff2977f0.4981c8","type":"function","z":"12abfec2.cd8191","name":"Get ID (EdgeX)","func":"if (msg.payload !== null) {\n    topic = msg.payload.name;\n    msg.topic = topic;\n    msg.payload = null;\n    return msg;\n}\nelse {\n    msg.topic = null;\n    msg.payload = null;\n}","outputs":1,"noerr":0,"x":1126.5478057861328,"y":1448.2498443126678,"wires":[["d32bf4e1.f88e68"]]},{"id":"9069defa.fdf4f","type":"function","z":"12abfec2.cd8191","name":"Get ID (mCS)","func":"id = msg.payload.id;\nmsg.topic = id;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":771.9049072265625,"y":1468.4285962581635,"wires":[["84f9079e.fe62e8"]]},{"id":"2990588d.270358","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"delete","name":"DB Delete","x":1610.4764099121094,"y":1459.8573529720306,"wires":[]},{"id":"84f9079e.fe62e8","type":"leveldb in","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","name":"DB Query","x":939.0477714538574,"y":1468.4285724163055,"wires":[["ff2977f0.4981c8","a0988184.439ce"]]},{"id":"a0988184.439ce","type":"function","z":"12abfec2.cd8191","name":"Get ID (EdgeXID)","func":"if (msg.payload !== null) {\n    topic = msg.payload.edgexid;\n    msg.topic = topic;\n    msg.payload = null;\n    return msg;\n}\nelse {\n    msg.topic = null;\n    msg.payload = null;\n    return msg;\n}","outputs":1,"noerr":0,"x":1136.1907424926758,"y":1486.9999659061432,"wires":[["d32bf4e1.f88e68"]]},{"id":"896c0b20.33dbe8","type":"inject","z":"12abfec2.cd8191","name":"Reset DB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198.7620620727539,"y":1593.2856862545013,"wires":[["302e7a92.cbf8f6","c72a369f.a04728","dbe59cef.de1ae","270ce25e.7cbbbe","d8d6cb4.2128038"]]},{"id":"302e7a92.cbf8f6","type":"function","z":"12abfec2.cd8191","name":"Remove by Name or ID","func":"msg.topic = \"KMC.BAC-121036CE01\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":421.9049263000488,"y":1531.2856614589691,"wires":[["91852bed.ac2eb8"]]},{"id":"91852bed.ac2eb8","type":"leveldb out","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","operation":"delete","name":"DB Delete","x":641.9049377441406,"y":1590.7142751216888,"wires":[]},{"id":"d32bf4e1.f88e68","type":"switch","z":"12abfec2.cd8191","name":"Topic is non-NULL?","property":"topic","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1389.0477905273438,"y":1461.2857158184052,"wires":[["2990588d.270358","76aa105b.774ad"]]},{"id":"76aa105b.774ad","type":"debug","z":"12abfec2.cd8191","name":"Deleted Device","active":false,"console":"false","complete":"topic","x":1627.61920601981,"y":1506.999989407403,"wires":[]},{"id":"e879277b.7e3a98","type":"debug","z":"12abfec2.cd8191","name":"Dump New Records","active":false,"console":"false","complete":"true","x":1758.095314025879,"y":752.4762027263641,"wires":[]},{"id":"b7a9157f.c2b948","type":"debug","z":"12abfec2.cd8191","name":"Register Device","active":false,"console":"false","complete":"true","x":668.476318359375,"y":1112.7142333984375,"wires":[]},{"id":"2ce614ca.1b846c","type":"debug","z":"12abfec2.cd8191","name":"Creating Device Resources","active":true,"console":"false","complete":"true","x":713.8096771240234,"y":967.7142505645752,"wires":[]},{"id":"c72a369f.a04728","type":"function","z":"12abfec2.cd8191","name":"Remove by Name or ID","func":"msg.topic = \"JC.RR5.NAE9.ConfRoom.Padre.Island01\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":418.4763488769531,"y":1572.7142751216888,"wires":[["91852bed.ac2eb8"]]},{"id":"dbe59cef.de1ae","type":"function","z":"12abfec2.cd8191","name":"Remove by Name or ID","func":"msg.topic = \"GS1-AC-Drive01\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":414.4763488769531,"y":1614.7142751216888,"wires":[["91852bed.ac2eb8"]]},{"id":"270ce25e.7cbbbe","type":"function","z":"12abfec2.cd8191","name":"Remove by Name or ID","func":"msg.topic = \"id\";\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":418.4763488769531,"y":1654.7142751216888,"wires":[["91852bed.ac2eb8"]]},{"id":"f609df98.5fb15","type":"splitter","z":"12abfec2.cd8191","name":"Split","property":"payload.readings","x":539.8097648620605,"y":294.0475823879242,"wires":[["a269f497.ce70c8"]]},{"id":"a269f497.ce70c8","type":"function","z":"12abfec2.cd8191","name":"Convert to mCS Observation","func":"if (msg !== null && msg.payload !== null) {\n    payload = msg.payload;\n    name = msg.payload.device;\n    uri = msg.payload.name;\n    value = msg.payload.value;\n    id = msg.payload.id;\n    \n    payload.name = name;\n    payload.uri = uri;\n    payload.value = value;\n    payload.edgexid = id;\n}\nelse {\n    name = null;\n    payload = null;\n    \n}\n\nmsg = {};\nmsg.topic = name;\nmsg.hold = payload;\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":756.4764289855957,"y":294.04759669303894,"wires":[["458e8e56.87bae"]]},{"id":"458e8e56.87bae","type":"leveldb in","z":"12abfec2.cd8191","level":"1f90b52.904ab4b","name":"DB Query","x":976.4763793945312,"y":292.38091349601746,"wires":[["242aef94.67ae3"]]},{"id":"555295a9.a9a5cc","type":"function","z":"12abfec2.cd8191","name":"Combine with Hold","func":"// Map EdgeX resource to LWM2M resource\nfunction edgexToLWM2M(resource_uri) {\n    if (resource_uri == \"AnalogValue_20\") {\n        return \"/666/0/0020\";\n    }\n    if (resource_uri == \"AnalogValue_21\") {\n        return \"/666/0/0021\";\n    }\n    if (resource_uri == \"AnalogValue_22\") {\n        return \"/666/0/0022\";\n    }\n    if (resource_uri == \"AnalogValue_40\") {\n        return \"/666/0/0040\";\n    }\n    if (resource_uri == \"HoldingRegister_2331\") {\n        return \"/667/0/2331\";\n    }\n    if (resource_uri == \"HoldingRegister_8455\") {\n        return \"/667/0/8455\";\n    }\n    if (resource_uri == \"HoldingRegister_8454\") {\n        return \"/667/0/8454\";\n    }\n    if (resource_uri == \"AnalogOutput_3000289\") {\n        return \"/3000/0/0289\";\n    }\n    if (resource_uri == \"AnalogInput_3000290\") {\n        return \"/3000/0/0290\";\n    }\n    if (resource_uri == \"collectionFrequency\") {\n        return \"/668/0/1\";\n    } \n    if (resource_uri == \"enableRandomization\") {\n        return \"/668/0/2\";\n    } \n    return \"/666/0/666\";\n}\n\n// peel off what we need from HOLD\nname = null;\nvalue = null;\nuri = null;\npayload = null;\nedgexid = null;\nmcsid = null;\nif (msg.payload !== null) {\n    payload = msg.hold;\n    if (payload !== null) {\n        name = payload.name;\n        value = payload.value;\n        uri = edgexToLWM2M(payload.uri);\n    }\n\n    // pull the info for mCS id\n    edgexid = msg.payload.edgexid;\n    mcsid = msg.payload.mcsid;\n}\n\n// combine\nmsg = {};\nmsg.payload = null;\nif (payload !== null) {\n    msg.payload = { \"edgexid\":edgexid, \"name\":name, \"value\":value, \"uri\":uri, \"mcsid\":mcsid };\n}\n// return the new message\nreturn msg;","outputs":1,"noerr":0,"x":1433.1428718566895,"y":292.3809278011322,"wires":[["53a97fd1.03a79"]]},{"id":"b5eba75b.d67d58","type":"debug","z":"12abfec2.cd8191","name":"JOIN WRITE","active":false,"console":"false","complete":"true","x":1537.1430282592773,"y":767.7143037319183,"wires":[]},{"id":"242aef94.67ae3","type":"function","z":"12abfec2.cd8191","name":"JSON String to JSON Object","func":"payload = null;\nif (msg !== null && msg.payload !== null && msg.payload !== \"[object Object]\") {\n    payload = JSON.parse(msg.payload);\n    msg.payload = payload;\n    return msg;\n}\nmsg = {};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1193.1430320739746,"y":292.38092398643494,"wires":[["555295a9.a9a5cc"]]},{"id":"53a97fd1.03a79","type":"function","z":"12abfec2.cd8191","name":"Create Resources Message","func":"if (msg !== null && msg.payload !== null) {\n    mcsid = msg.payload.mcsid;\n    uri = msg.payload.uri;\n    value = msg.payload.value;\n    resources =  msg.payload.resources;\n    msg.payload = resources;\n    \n    // create the \"PUT\" to set the resource value\n    msg = {};\n    msg.url = \"http://172.17.0.3:3030/devices\";\n    msg.url = msg.url.concat(\"/\");\n    msg.url = msg.url.concat(mcsid);\n    msg.url = msg.url.concat(\"/\");\n    msg.url = msg.url.concat(\"resources\");\n    msg.url = msg.url.concat(uri);\n    msg.payload = {\"value\": value};\n    \n    // send the message\n    msg.headers = {'content-type':'application/json'};\n    return msg;\n}\nelse {\n    msg = {};\n    return msg;\n}","outputs":1,"noerr":0,"x":839.8097534179688,"y":369.04759216308594,"wires":[["7c33a8af.333228"]]},{"id":"1a594b58.fe47e5","type":"http request","z":"12abfec2.cd8191","name":"HTTP PUT Operation","method":"PUT","ret":"txt","url":"","tls":"","x":1333.8098220825195,"y":369.0475912094116,"wires":[["72c4a0e0.89b2f"]]},{"id":"72c4a0e0.89b2f","type":"debug","z":"12abfec2.cd8191","name":"Set Resource Response","active":false,"console":"false","complete":"true","x":1599.4763793945312,"y":369.047571182251,"wires":[]},{"id":"7c33a8af.333228","type":"switch","z":"12abfec2.cd8191","name":"Able to PUT value?","property":"url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1109.9999618530273,"y":368.3333787918091,"wires":[["1a594b58.fe47e5"]]},{"id":"1701e2fc.a7c56d","type":"switch","z":"12abfec2.cd8191","name":"Response OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"204","v2t":"num"},{"t":"gt","v":"204","vt":"num"}],"checkall":"true","outputs":2,"x":1528,"y":1094,"wires":[["f04ca605.a37848"],["cbede93a.0a8b88"]]},{"id":"cbede93a.0a8b88","type":"debug","z":"12abfec2.cd8191","name":"Unable to Add Device","active":true,"console":"false","complete":"true","x":1838,"y":1124,"wires":[]},{"id":"85ea5f51.ca473","type":"debug","z":"12abfec2.cd8191","name":"EdgeX Resource Info","active":false,"console":"false","complete":"payload","x":1766,"y":582,"wires":[]},{"id":"7862d32f.50021c","type":"mqtt-broker","z":"","broker":"10.1.0.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1f90b52.904ab4b","type":"leveldbase","z":"","db":"edgexdb"}]
